<!DOCTYPE html>
<html lang="ZH_CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-for="item in list">
        <input type="checkbox" v-model="item.isClicked" @click="change"/>{{item}}
      </div>
    </div>
  </body>
  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data() {
        return {
          list: [
            { content: "asd", status: "All" },
            { content: "hhhh", status: "All" },
            { content: "dsadas", status: "All" },
            { content: "123543", status: "All" },
          ],
        };
      },
      methods:{
        change(){
          item.isClicked = !item.isClicked
        }
      }
    });
  </script>
</html>
